<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User info page</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
<h1>Current authenticated User info page!</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Age</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${authorisedUser.getId()}"></td>
        <td th:text="${authorisedUser.getUsername()}"></td>
        <td th:text="${authorisedUser.getAge()}"></td>
        <td th:text="${authorisedUser.getStringRoles()}"></td>
    </tr>
    </tbody>
</table>
    </br>
    <form th:method="GET", th:action="@{/logout}"><input type="submit" value="Logout"/></form>
</body>
</html>